:root {
  --grey-900: rgba(15, 23, 42, 1);
  --grey-700: rgba(51, 65, 85, 1);
  --white: rgba(255, 255, 255, 1);
  --greyborder: rgba(226, 232, 240, 1);
  --grey-100: rgba(241, 245, 249, 1);
  --heading-3-font-family: "Inter", Helvetica;
  --heading-3-font-weight: 600;
  --heading-3-font-size: 24px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 139.9999976158142%;
  --heading-3-font-style: normal;
  --small-text-font-family: "Inter", Helvetica;
  --small-text-font-weight: 400;
  --small-text-font-size: 14px;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --small-text-font-style: normal;
  --label-font-family: "Inter", Helvetica;
  --label-font-weight: 600;
  --label-font-size: 12px;
  --label-letter-spacing: 0px;
  --label-line-height: normal;
  --label-font-style: normal;
  --collection-1-temp: 100px;
  --component-tokens-button-primary-normal-background: rgba(26, 73, 242, 1);
  --component-tokens-button-primary-normal-text: rgba(255, 255, 255, 1);
  --component-tokens-button-primary-normal-border-color: rgba(23, 43, 115, 1);
  --component-tokens-button-layout-right-border-radius-top-left: 0px;
  --component-tokens-button-primary-normal-border-width: 0px;
  --component-tokens-button-layout-right-border-radius-top-right: 100px;
  --component-tokens-button-layout-right-border-radius-bottom-right: 100px;
  --component-tokens-button-layout-right-border-radius-bottom-left: 0px;
  --component-tokens-button-layout-left-border-radius-top-left: 100px;
  --component-tokens-button-layout-left-border-radius-top-right: 0px;
  --component-tokens-button-layout-left-border-radius-bottom-right: 0px;
  --component-tokens-button-layout-left-border-radius-bottom-left: 100px;
  --component-tokens-button-primary-hover-background: rgba(23, 43, 115, 1);
  --component-tokens-button-primary-hover-border-color: rgba(23, 43, 115, 1);
  --component-tokens-button-primary-hover-border-width: 0px;
  --component-tokens-button-primary-focus-background: rgba(26, 73, 242, 1);
  --component-tokens-button-primary-focus-border-color: rgba(23, 43, 115, 1);
  --component-tokens-button-primary-focus-border-width: 2px;
  --component-tokens-button-primary-disabled-background: rgba(149, 163, 212, 1);
  --component-tokens-button-primary-disabled-text: rgba(43, 55, 99, 1);
  --component-tokens-button-primary-disabled-border-color: rgba(149, 163, 212, 1);
  --component-tokens-button-layout-pill-border-radius-top-left: 100px;
  --component-tokens-button-layout-pill-border-radius-top-right: 100px;
  --component-tokens-button-layout-pill-border-radius-bottom-right: 100px;
  --component-tokens-button-layout-pill-border-radius-bottom-left: 100px;
  --content-input-value-default: 0px;
  --content-input-value-max: 5px;
  --colors-design-theme-light-blues-blue: rgba(34, 104, 209, 1);
  --colors-design-theme-light-grey-500: rgba(33, 33, 35, 1);
  --colors-design-theme-light-grey-400: rgba(151, 151, 151, 1);
  --colors-design-theme-light-grey-100: rgba(252, 252, 252, 1);
  --colors-temp-duplicate: 60px;
  --colors-CO: 800px;
  --colors-pressure: 100px;
  --colors-ch4: 5px;
  --colors-humid: 20px;
}
